/* --- Previous / Next buttons --- */
main{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-snapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.carousel::before,
.carousel::after,
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 0;
  margin-top: 0%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel-prev {
left: -1rem;
}

.carousel::after,
.carousel-next {
right: -1rem;
}

.carousel::before,
.carousel::after {
content: '';
z-index: 1;
background-color: #333;
background-size: 1.5rem 1.5rem;
background-repeat: no-repeat;
background-position: center center;
color: #fff;
font-size: 2.5rem;
line-height: 4rem;
text-align: center;
pointer-events: none;
}

.carousel::before {
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/* --- Navigation --- */
.carousel-navigation {
position: absolute;
right: 0;
bottom: 0;
left: 0;
text-align: center;
}

.carousel-navigation-list,
.carousel-navigation-item {
display: inline-block;
}

.carousel-navigation-button {
display: inline-block;
width: 1.5rem;
height: 1.5rem;
background-color: #37A1AF;
background-clip: content-box;
border: 0.25rem solid transparent;
border-radius: 50%;
font-size: 0;
transition: transform 0.1s;
}

/* --- Miscellaneous --- */
.carousel{
  padding: 1rem 4rem 2.5rem 4rem;
}

.carousel-slide:after{
  content: "";
  display: block;
  clear: both;
}

.carousel-slide img{
  float: left;
  margin: 0 2rem 2rem 0;
  width:33%;
}

.carousel-slide ul{
  padding-left: calc(560px + 3rem);
}

.menutitle{
  text-align: left;
  color: #E1A545;
  font-family: "Lucida_Handwriting";
}
@media screen and (max-width: 1546px) {
  .carousel::before,
  .carousel::after,
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    margin-top: 0%;
    width: 0rem;
    height:0rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }

  .carousel-navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #37A1AF;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
    }

    .carousel-snapper{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      scroll-snap-align: center;
    }
}
