* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lucida_Handwriting";
  src: url('../font/LucidaHandwriting.TTF')
}



body {
  margin: 0px;
  font-family: 'Lucida_Handwriting';
}

/*////////////////// SECTION-ACCUEIL //////////////////*/
                                                                                                                                            .logo {
  width: 9vw;
  position: absolute;
  margin-top: 0.8em;
  margin-left: 0.8rem;
  transform: rotate(-25deg);
}

#dellysh1{
  font-size: 5.2em;
  font-family: "Lucida_Handwriting";
  color: #E1A545;
}

#barh2{
  font-size: 3em;
  font-family: "Lucida_Handwriting";
}

#drive{
  font-size: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.icone {
  position: absolute;
  margin-left: 84%;
  

}

.icone i{
  padding-top: 2rem;
  transform: rotate(270deg);
  color: #E1A545;
  font-size: 0.8em;
  
}


@media screen and (min-width:994px){
 
  
  .icone{margin-left: 92%;}
  .icone i{padding-top: 3.3em;font-size: 2.7em;}
  
  }

@media screen and (min-width:700px) and (max-width:994px){
  #dellysh1{font-size:3.5rem ;}
  #barh2{font-size:1.9rem;}
  #drive{font-size:0.8em;}
  .icone{margin-left: 86%;}
  .icone i{font-size: 1.5em; margin-top: 2.5em;}
  

  }

@media screen and (max-width:700px){
  #dellysh1{font-size:2.8em ;}
  #barh2{font-size:1.5em;}
  #drive{font-size:0.7em;}
  .icone i{margin-top: 2em;font-size: 1.1em;}
  
     
}


@media screen and (max-width:500px){
  #dellysh1{font-size:2.5em ;}
  #barh2{font-size:1.2em;}
  #drive{font-size:0.6em;}
  .icone i{padding-top: 1em; font-size: 1em;}
  
}

@media screen and (max-width:365px){
  #dellysh1{font-size:1.7em ;}
  #barh2{font-size:1rem;}
  #drive{font-size:0.6em;}
  .icone i{font-size: 0.7em;}  
}

/*////////////////// Fin SECTION-ACCUEIL //////////////////*/

/*////////////////// Présentation //////////////////*/

.presh3{
  font-family: "Lucida_Handwriting";
  font-size: 1.1rem;
  color: #37A1AF;
  margin-bottom: 0.5rem;
}

.bor-bleu{
  
  border-left: 0.6rem solid #37A1AF ;

}

.p-pres{
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
}


@media screen and (min-width:700px) and (max-width:994px){
  .presh3{ font-size: 1.6rem;margin-bottom: 1em;}
  .p-pres{font-size: 1rem;}
  
}


@media screen and (min-width:994px){
  .presh3{ font-size: 2.5rem;margin-bottom: 2em;}
  .p-pres{font-size: 1.4rem;}
  
  }

/*////////////////// Fin-Présentation //////////////////*/

/*////////////////// CONTACT //////////////////*/

#contact {
  padding-top: 5vh;
  height: 100%;
  margin-bottom: 5vh;
  display: block;
}

.map iframe {
  width: 70vw;
  height: 40vh;
  display: flex;
  margin: auto;
}

#contact h3 {
  font-family: "Lucida_Handwriting";
  font-size: 2rem;
  color: #37A1AF;
  margin-left: 5vw;
  margin-bottom: 2rem;
}

.co {
  margin: auto;
  margin-right: 3rem;
}

.reservation {
  margin: auto;
  margin-left: 3rem;
}

.top {
  width: 99vw;
  display: inline-flex;
  margin: auto;
}

.adress,
.tel,
.messenger,
.hours {
  margin: 1rem;
}

#contact img {
  height: 4vh;
  margin-right: 2vw;
}

#contact p {
  font-family: 'Open Sans', sans-serif;
  color: #33353d;
}

#contact a {
  text-decoration: none;
  color: #33353d;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  padding: 1rem 3rem 1rem 3rem;
  border: 1px solid #E1A545;
  border-bottom: none;
}

#contact li {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  margin: 1rem;
}

#reservationForm {
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

label {
  display: block
}

.open {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #E1A545;
  font-size: 1.2rem;
  margin-top: 2rem;
}

p#time {
  margin-bottom: 0.2rem;
  margin-top: 0;
}

p#day {
  margin-bottom: 0.2rem;
  margin-top: 0;
}

.fa,
.fas,
.fab {
  font-weight: 900;
  color: #37A1AF;
  width: 2rem;
  margin: auto;
}

button {
  margin: 1rem;
  color: white;
  border: none;
  background-color: #37A1AF;
  padding: 0.5rem;
}

footer button {
  margin: 1rem;
  color: #37A1AF;
  border: none;
  background-color: white;
  padding: 0.1rem 0.5rem;

}


/*////////////////// FOOTER //////////////////*/
footer {
  font-family:'Open Sans', sans-serif;
}

.social-icons a {
  width: 3em;
  height: 3em;
  border-radius: 100%;
  background-color: #33353d
}

.footer-links a , .descriptiontext{
  font-size: 0.8em;
  color: white;
}

h6 {
  font-size: 1rem;
}

.copyright-text{
  font-size: 0.7em;
}

#mail{
  width: 9em;
  height: 2em;
}

.legals a{
  color: black;
}

.fa-instagram { 
  color: purple; }

.fa-facebook{
  color: rgb(5, 5, 100);
}

@media screen and (min-width:900px){
  .descriptiontext{font-size:1.5em}
  .copyright-text , .footer-links a{font-size: 1em;}
}
/*//////////////////////footer///////////////////*/